.container {
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: -1rem;
    margin-left: -1rem;

}
@media (min-width: 576px) {
    .container {
        width: 36rem;
    }
}

@media (min-width: 768px) {
    .container {
        width: 48rem;
    }
}

@media (min-width: 992px) {
    .container {
        width: 62rem;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 75rem;
    }
}
@media (min-width: 1330px) {
    .container {
        width: 82rem;
    }
}
